body {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.select-wrapper,
.button-wrapper {
  width: 500px;
  text-align: right;
}

.select-wrapper select {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-wrapper button {
  padding: 5px;
  border-radius: 5px;
  background-color: #b5ffa8;
  cursor: copy;
}

.button-wrapper button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.text-area-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.text-area-wrapper textarea {
  width: 500px;
  height: 150px;
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.2;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

select:focus-visible,
.text-area-wrapper textarea:focus-visible {
  outline: none;
}

@media (max-width: 600px) {
  .select-wrapper,
  .button-wrapper {
    width: 100%;
  }

  .text-area-wrapper {
    width: 100%;
    height: 40%;
  }

  .text-area-wrapper textarea {
    width: 100%;
    height: 100%;
  }
}
